@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    font-size: 16px;
}

p {
    font-size: 12px;
}

canvas {
    border: 1px solid black;
}